# Copy this file to .env in the project root and fill in your actual values.
# These variables will be used by Docker Compose and sourced by Makefile for Terraform.

GCP_PROJECT_ID=
GCP_REGION=
GCS_BUCKET_NAME=
BQ_DATASET_NAME=
BQ_CONNECTION_ID=
BQ_LOCATION=
GCP_SERVICE_ACCOUNT_KEY_PATH=
