# This docker compose file defines all the services needed to run the demo.
services:
  # The core bufstream service.
  bufstream:
    image: bufbuild/bufstream:0.3.27
    hostname: bufstream
    container_name: bufstream
    environment:
      BUFSTREAM_KAFKA_HOST: 0.0.0.0
      BUFSTREAM_KAFKA_PUBLIC_HOST: bufstream
    ports:
      # We'll expose bufstream on the host at port 9092.
      - "9092:9092"
    healthcheck:
      test: ["CMD", "/usr/local/bin/bufstream", "admin", "status", "--exit-code", "--url", "http://127.0.0.1:9089"]
      start_period: 15s
      interval: 5s
      timeout: 10s
      retries: 10
    # Edit config/bufstream.yaml within this repository to change configuation.
    volumes:
      - "./config/bufstream.yaml:/bufstream.yaml"
    command: [
      "serve",
      "--config", "/bufstream.yaml",
    ]
  # The demo consumer.
  #
  # This is a Docker image that just runs the binary created from cmd/bufstream-demo-consume.
  consume:
    build:
      context: .
      dockerfile: Dockerfile.consume
    depends_on:
      bufstream:
        condition: service_healthy
    command: [
      "--bootstrap", "bufstream:9092",
      "--topic", "email-updated",
      "--group", "email-verifier",
      "--csr-url", "https://demo.buf.dev/integrations/confluent/bufstream-demo",
    ]
  # The demo producer.
  #
  # This is a Docker image that just runs the binary created from cmd/bufstream-demo-produce.
  produce:
    build:
      context: .
      dockerfile: Dockerfile.produce
    depends_on:
      bufstream:
        condition: service_healthy
    command: [
      "--bootstrap", "bufstream:9092",
      "--topic", "email-updated",
      "--group", "email-verifier",
    ]
  # A GUI for Kafka. See https://akhq.io
  #
  # Browse to http://localhost:8080 on your machine.
  akhq:
    image: tchiotludo/akhq:0.25.1
    stop_signal: SIGKILL
    depends_on:
      bufstream:
        condition: service_healthy
    healthcheck:
      test: nc -z akhq 8080 || exit -1
      start_period: 15s
      interval: 5s
      timeout: 10s
      retries: 10
    ports:
      - "8080:8080"
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            bufstream-demo:
              properties:
                bootstrap.servers: "bufstream:9092"
                client.id: "akhq;broker_count=1;host_override=bufstream"
              schema-registry:
                url: "https://demo.buf.dev/integrations/confluent/bufstream-demo"
                type: "confluent"
