# This docker compose file defines all the services needed to run the demo.
services:
  # The core Bufstream service.
  bufstream:
    image: bufbuild/bufstream:0.4.4
    hostname: bufstream
    container_name: bufstream
    environment:
      BUFSTREAM_KAFKA_HOST: 0.0.0.0
      BUFSTREAM_KAFKA_PUBLIC_HOST: bufstream
    ports:
      # We'll expose Bufstream on the host at port 9092.
      - "9092:9092"
    healthcheck:
      test: ["CMD", "/usr/local/bin/bufstream", "admin", "status", "--exit-code", "--url", "http://127.0.0.1:9089"]
      start_period: 15s
      interval: 5s
      timeout: 10s
      retries: 10
    volumes:
      - ".:/buf-workspace"
    command: [
      "serve",
      "--schema", "/buf-workspace",
    ]
  # The demo consumer.
  #
  # This is a Docker image that just runs the binary created from cmd/bufstream-demo-consume.
  consume:
    build:
      context: .
      dockerfile: Dockerfile.consume
    depends_on:
      bufstream:
        condition: service_healthy
    command: [
      "--bootstrap", "bufstream:9092",
      "--topic", "orders",
      "--group", "order-verifier",
    ]
  # The demo consumer of the dead-letter queue holding invalid messages.
  #
  # This is a Docker image that just runs the binary created from cmd/bufstream-demo-consume-dlq.
  consume-dlq:
    build:
      context: .
      dockerfile: Dockerfile.consume-dlq
    depends_on:
      bufstream:
        condition: service_healthy
    command: [
      "--bootstrap", "bufstream:9092",
      "--topic", "orders.dlq",
      "--group", "order-dlq-monitor",
    ]
  # The demo producer.
  #
  # This is a Docker image that just runs the binary created from cmd/bufstream-demo-produce.
  produce:
    build:
      context: .
      dockerfile: Dockerfile.produce
    depends_on:
      bufstream:
        condition: service_healthy
    command: [
      "--bootstrap", "bufstream:9092",
      "--topic", "orders",
      "--topic-config", "buf.registry.value.schema.message=bufstream.demo.v1.Cart",
      "--topic-config", "bufstream.validate.dlq.topic=orders.dlq",
    ]
  # A GUI for Kafka. See https://akhq.io
  #
  # Browse to http://localhost:8080 on your machine.
  akhq:
    image: tchiotludo/akhq:0.26.0
    stop_signal: SIGKILL
    depends_on:
      bufstream:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "--silent", "--fail", "--output", "/dev/null", "http://localhost:28081/health"]
      start_period: 15s
      interval: 5s
      timeout: 10s
      retries: 10
    ports:
      - "8080:8080"
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            bufstream-demo:
              properties:
                bootstrap.servers: "bufstream:9092"
                client.id: "akhq;broker_count=1;host_override=bufstream"
