cluster: demo
zone: localhost
in_memory: true
kafka:
  address:
    host: 0.0.0.0
    port: 9092
  public_address:
    host: bufstream
    port: 9092
observability:
  trace_exporter: NONE
  metrics_exporter: NONE
  log_level: INFO
  log_format: TEXT
  debug_address:
    host: 0.0.0.0
data_enforcement:
  schema_registries:
    - name: csr
      confluent:
        url: "https://bufdemo.buf.dev/integrations/confluent/bufstream-demo"
        instance_name: "bufstream-demo"
        basic_auth:
          username:
            string: "bufstream-demo"
          password:
            string: "ee3a6dd1667b064886308e9280e79d094a3f2cd910c0efe019f876fec18d1abb"
  produce:
    - topics: { all: true }
      schema_registry: csr
      values:
        on_parse_error: REJECT_BATCH
        validation:
          on_error: REJECT_BATCH
  fetch:
    - topics: { all: true }
      schema_registry: csr
      values:
        on_parse_error: FILTER_RECORD
        redaction:
          debug_redact: true
